@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>编辑活动</title>
    <link rel="stylesheet" href="/themes/default/easyui.css" />
    <link rel="stylesheet" href="/themes/icon.css" />
    <link rel="stylesheet" href="/Styles/demo.css" />
    <link rel="stylesheet" href="/Styles/bootstrap.css" />
    <link rel="stylesheet" href="/Styles/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" href="/Styles/font-awesome.min.css" />
    <link rel="stylesheet" href="/Styles/jquery.qeditor.css" />
    <link rel="stylesheet" href="/Styles/style.css" />
    <style type="text/css" media="screen">
        .textarea {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border linear .2s, box-shadow linear .2s;
            -moz-transition: border linear .2s, box-shadow linear .2s;
            -o-transition: border linear .2s, box-shadow linear .2s;
            transition: border linear .2s, box-shadow linear .2s;
            padding: 4px 6px;
            font-size: 14px;
            line-height: 20px;
            color: #555555;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            vertical-align: middle;
            outline: none;
            height: 400px;
        }

        .list-div-header {
            border-top: 1px solid #bbbbbb;
            margin-top: 5px;
        }
    </style>
    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Scripts/jquery.easing.1.3.js"></script>
    <script src="/Scripts/jquery.waypoints.min.js"></script>
    <script src="/Scripts/jquery.easyui.min.js"></script>
    <script src="/Scripts/jquery.qeditor.js"></script>
    <script src="/Scripts/underscore-min.js"></script>
    <script src="/Scripts/moment.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/laydate.js"></script>
    <script src="/Scripts/bootstrap-clockpicker.min.js"></script>
    <script src="/Scripts/main.js"></script>
    <script>
        var handleUrl = window.location.href;
        var e_id = "@ViewBag.event_id";
    </script>
</head>
<body>
    <form>
        <div class="box-wrap">
            <header role="banner" id="fh5co-header" style="background-image:url('/img/header.jpg')">
                <div class="container">
                    <nav class="navbar navbar-default" style="background:rgba(0,0,0,0)">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fh5co-navbar-brand">
                                    <span class="logo"><a href="/PersonalSchedule/Index">日程中心</a></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="nav text-center">
                                    <li><a href="/PersonalSchedule/Cal">我的日历</a></li>
                                    <li><a href="/EventCentre/NewEvent">创建活动</a></li>
                                    <li><a href="/Search/Index">搜索活动</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul class="social">
                                    <li>
                                        <a href="/Search/Home">
                                            <img src="/img/user/@Session["login_id"]_.png" onerror="imgThisErrorSrc(this,'/img/default/default-user-0.png')" class="my-img-round" alt="(。・`ω´・)" width="48" height="48" />
                                            <span class="user-name">@Session["login_name"]</span>
                                        </a>
                                    </li>
                                    <li><a href="/PersonalSchedule/Index"><span class="glyphicon glyphicon-log-in" id="logout_btn">返回</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="container">
                <div class="col-md-7 new-event-left-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="glyphicon glyphicon-time new-event-icons"></span>
                            <input type="button" class="btn btn-primary" onclick="addActionSubmitDiv()" value="添加时间" />
                        </div>
                        <div class="col-md-6">
                            <span class="glyphicon glyphicon-user new-event-icons"></span>
                            <input type="button" id="input_event_auth" name="auth_btn_pub" class="btn btn-success" value="公开发布"
                                   onclick="changeThisEventAuthBtn(this);" onmouseover="changeThisValue(this,'设为私有');" onmouseout="changeThisValue(this,'公开发布');" />
                            <script>
                                if("@ViewBag.event_auth" == "pri"){
                                    document.getElementById("input_event_auth").click();
                                }
                            </script>
                        </div>
                    </div>
                    <div class="row time-list-div" id="time_list_div"></div>
                    <div class="row text-editer-div">
                        <div class="row control-group">
                            <label class="control-label col-md-2" style="padding-left:0" for="input_event_title">活动标题：</label>
                            <div class="controls col-md-10">
                                <input type="text" class="form-control" id="input_event_title" placeholder="请输入活动标题" value="@ViewBag.event_title">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="controls">
                                <textarea id="input_event_content" name="body" class="textarea" placeholder="在这里写点什么..."></textarea>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="controls">
                                <input type="button" class="btn btn-success" onclick="create_event_btn_func(handleUrl)" value="提交" />
                                <a data-toggle="modal" data-target="#delete_modal"><input type="button" class="btn btn-danger" value="删除" /></a>
</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 new-event-right-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="glyphicon glyphicon-plus-sign new-event-icons"></span>
                            <input type="button" class="btn btn-primary" onclick="addLinkSubmitDiv()" value="新链接" />
                        </div>
                        <div class="col-md-6">
                            <span class="glyphicon glyphicon-tags new-event-icons"></span>
                            <input type="button" class="btn btn-primary" onclick="addTagSubmitDiv()" value="新标签" />
                        </div>
                    </div>
                    <div class="row list-div-header">
                        <span class="glyphicon glyphicon-plus-sign new-event-icons"></span>
                    </div>
                    <div class="row link-list-div" id="link_list_div">
                    </div>
                    <div class="row list-div-header">
                        <span class="glyphicon glyphicon-tags new-event-icons"></span>
                    </div>
                    <div class="row tag-list-div" id="tag_list_div">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog"
             aria-labelledby="login-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="login-title">删除活动</h4>
                        <span id="register_errorMessage" class="errorMessage"></span>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal" role="form">
                            <label class="control-label"> 您确认要删除此活动吗？ </label>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-danger" id="delete" onclick="delete_event_btn_func(handleUrl,'@ViewBag.event_id')" value="删除" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--modal-content -->
            </div>
            <!-- modal -->
        </div>
    </form>
    <script type="text/javascript">
        var today = new Date();
        var default_time = extendNumber(today.getHours()) + ":" + extendNumber(today.getMinutes());
        var default_date = extendNumber(today.getFullYear()) + "-" + extendNumber(today.getMonth() + 1) + "-" + extendNumber(today.getDate());
        !function () {
            laydate.skin('default');
        }();

        $('.clockpicker').clockpicker()
            .find('input').change(function () {
                console.log(this.value);
            });
        var input = $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'
        });

        document.getElementById("input_event_content").innerHTML += transValidateToDomStr('@ViewBag.event_content');
        $("#input_event_content").qeditor({});

        var action_list_json = '@ViewBag.action_list';
        var link_list_json = '@ViewBag.link_list';
        var tag_list_json = '@ViewBag.tag_list';
        addActionEditDiv(JSON.parse(html_decode(action_list_json)));
        addLinkEditDiv(JSON.parse(html_decode(link_list_json)));
        addTagEditDiv(JSON.parse(html_decode(tag_list_json)))
    </script>
</body>

</html>